<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Get Hired</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul ng-repeat="link in leftLinks" class="nav navbar-nav">
        <li ng-class="{active: link.href === state }"><a ui-sref={{link.href}}>{{link.title}}</a></li>
      </ul>
      <ul ng-repeat="link in rightLinks" class="nav navbar-nav navbar-right">
        <li ng-class="{active: link.href === state }"><a ui-sref={{link.href}}>{{link.title}}</a></li>
      </ul>
    </div>
  </div>
</nav>
