<form name="Job{{row.job.id}}" novalidate>
  <input type="hidden" ng-model="row.new_job_application.job_id" ng-init="row.new_job_application.job_id = row.job.id" />
  <th>
    <a ui-sref="jobs" href>
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </th>
  <td>{{row.job.position}}</td>
  <td>{{row.job.company}}</td>
  <td><a target="_blank" href={{row.job.link}}>{{row.job.link | link}}</a></td>
  <td><input ui-date ng-model="row.new_job_application.date_applied" class="form-control" placeholder="Date Applied" ng-init="row.new_job_application.date_applied = setTodaysDate()"></td>
  <td><input ng-model="row.new_job_application.communication"        class="form-control" placeholder="Communication"></td>
  <td><textarea ng-model="row.new_job_application.comments"          class="form-control" placeholder="Comments"></textarea></td>
  <td>
    <select ng-model="row.new_job_application.status"              class="form-control" placeholder="Status" ng-init="row.new_job_application.status = 'Applied'">
      <option>Applied</option>
      <option>Interviewing</option>
      <option>Denied</option>
    </select>
   </td>
  <td><button ng-click="createJobApplication(row.new_job_application)" type=submit" class="btn">Create Application</button></td>
</form>

