<th>{{$index + 1}}</th>
<td>{{row.job.position}}</td>
<td>{{row.job.company}}</td>
<td><a target="_blank" href={{row.job.link}}>{{row.job.link | link}}</a></td>
<td ng-if="row.job_application.id">{{row.job_application.formatted_date}}</td>
<td ng-if="row.job_application.id">{{row.job_application.communication}}</td>
<td ng-if="row.job_application.id">{{row.job_application.comments}}</td>
<td ng-if="row.job_application.id"><span ng-class="statusClass(row.job_application.status)">{{row.job_application.status}}</span></td>
<td>
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <p>Are you sure?</p> 
      <button ng-click="deleteJob(row.job)" class="btn btn-sm">Delete Job</button>
      <button ui-sref="jobs"            class="btn btn-sm">Cancel</button>
    </div>
  </div>
</td>
