<th><a ui-sref="jobs" ><span class="glyphicon glyphicon-remove"></span></a></th>
<td><input ng-model="row.job.position" class="form-control" placeholder="Position"></td>
<td><input ng-model="row.job.company"  class="form-control" placeholder="Company"></td>
<td>
  <div class="alert alert-warning" ng-show="row.linkError">Url is Invalid <small>(Please include http:// or https://)</small></div>
  <input ng-model="row.job.link"     class="form-control" placeholder="Link">
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><button ng-click="editJob(row.job)" class="btn btn-primary">Edit Job</button></td>

