<th><a ng-click="closeEdit(job)" href><span class="glyphicon glyphicon-remove"></span></a></th>
<td><input ng-model="job.editJob.position" class="form-control" placeholder="Position"></td>
<td><input ng-model="job.editJob.company"  class="form-control" placeholder="Company"></td>
<td>
  <div class="alert alert-warning" ng-show="job.linkError">Url is Invalid <small>(Please include http:// or https://)</small></div>
  <input ng-model="job.editJob.link"     class="form-control" placeholder="Link">
</td>
<td><button ng-click="editJob(job.editJob)" class="btn">Edit Job</button></td>

