<form name="Job{{job.id}}" novalidate>
  <th>
    <a ng-click="newJobs.delete(job)" href>
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </th>
  <td><input ng-model="job.position" class="form-control" placeholder="Position"></td>
  <td><input ng-model="job.company"  class="form-control" placeholder="Company"></td>
  <td>
    <div class="alert alert-warning" ng-show="job.linkError">
      Url is Invalid <small>(Please include http:// or https://)</small>
    </div>
    <input ng-model="job.link" class="form-control" placeholder="Link">
  </td>
  <td>
    <button ng-click="createJob(job)" type=submit" class="btn btn-primary">Create Job</button>
    <button ng-click="job.newApp = {}" class="btn btn">Apply</button>
  </td>
</form>

