<div class="row">
  <div class="col-md-12 table-responsive">
    <button ui-sref="newJob" class="btn btn-default">New Job</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Company</th>
          <th>Link</th>
          <th>Date Applied</th>
          <th>Contacts</th>
          <th>Comments</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in jobData" ng-include="jobUrl(row)">
        </tr>
      </tbody>
    </table>
  </div>
</div>
