<div class="row">
  <div class="col-md-8 col-md-offset-2 tbale-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Company</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in jobs">
          <th>{{$index + 1}}</th>
          <td>{{job.position}}</td>
          <td>{{job.company}}</td>
          <td><a target="_blank" href={{job.link}}>{{job.link.split("http://")[1]}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
