<div class="row">
  <div class="col-md-8 col-md-offset-2 table-responsive">
    <button ng-click="newJobCount = newJobCount + 1" class="btn">New Job</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Company</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in getNumber(newJobCount) track by $index">
          <form novalidate>
            <th><a ng-click="subtractJobCount()" href><span ng-click="newJobCount = newJobCount - 1" class="glyphicon glyphicon-remove"></span></a></th>
            <td><input ng-model="job.position" class="form-control" placeholder="Position"></td>
            <td><input ng-model="job.company"  class="form-control" placeholder="Company"></td>
            <td><input ng-model="job.link"     class="form-control" placeholder="Link"></td>
            <td><button ng-click="createJob(job)" type=submit" class="btn">Create Job</button></td>
          </form>
        </tr>
        <tr ng-repeat="job in jobs">
          <th>{{$index + 1}}</th>
          <td>{{job.position}}</td>
          <td>{{job.company}}</td>
          <td><a target="_blank" href={{job.link}}>{{job.link.split("http://")[1]}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
