<div class="row">
  <div class="col-md-8 col-md-offset-2 table-responsive">
    <button ng-click="addNewJob()" class="btn">New Job</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Company</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="job in newJob"> 
          <form name="Job{{job.id}}" novalidate>
            <th><a ng-click="subtractNewJob(job.id)" href><span class="glyphicon glyphicon-remove"></span></a></th>
            <td><input ng-model="job.position" class="form-control" placeholder="Position"></td>
            <td><input ng-model="job.company"  class="form-control" placeholder="Company"></td>
            <td>
              <div class="alert alert-warning" ng-show="job.linkError">Url is Invalid <small>(Please include http:// or https://)</small></div>
              <input ng-model="job.link" class="form-control" placeholder="Link" type="url">
            </td>
            <td><button ng-click="createJob(job)" type=submit" class="btn">Create Job</button></td>
          </form>
        </tr>
        <tr ng-repeat="job in jobs" ng-include="jobUrl(job)">
          <td>{{job.company}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
