<div class="row">
  <div class="col-md-8 col-md-offset-2 table-responsive">
    <button ng-click="newJobs.add()" class="btn btn-default">New Job</button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Company</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "job in newJobsList" ng-include="newJobUrl" >
        </tr>
        <tr ng-repeat="row in jobData" ng-include="jobUrl">
        </tr>
      </tbody>
    </table>
  </div>
</div>
